:root{
    --spacing: 10px;
    --blur: 1px;
    --paddingColor: #ffc800;
}

.coloredText{
    color: var(--paddingColor);
}

img{
    padding: var(--spacing);
    background: var(--paddingColor);
    filter: blur(var(--blur));
}

body{
    text-align: center;
    background: #193549;
    color: white;
    font-size: 20px;
}