body{
    background-color: lightblue;
}

#clockface{
    width: 200px;
    height: 200px;
    border-radius: 120px;
    border-style: solid;
    border-color: white;
    border-width: 15px;
}

.testLines{
    background-color: black;
    width: 175%;
    height: 5px;

    position: relative;
    transform-origin: 0% 50%;
}

#hourHand{
    background-color: white;
    transition: all 0.2s;
    width: 10px;
    height: 70px;

    position: absolute;
    top: 55px;
    left: 117px;
    transform-origin: 50% 96%;
    transform: rotate(0deg);
}

#minuteHand{
    background-color: white;
    transition: all 0.2s;
    width: 7px;
    height: 100px;

    position: absolute;
    top: 25px;
    left: 120px;
    transform-origin: 50% 96%;
    transform: rotate(45deg);
}

#secondHand{
    background-color: white;
    transition: all 0.2s;
    width: 2px;
    height: 90px;

    position: absolute;
    top: 35px;
    left: 125px;
    transform-origin: 50% 96%;
    transform: rotate(90deg);
}