body{
    background-color: lightblue;
}

#clockface{
    width: 200px;
    height: 200px;
    border-radius: 120px;
    border-style: solid;
    border-color: white;
    border-width: 15px;
}

#hourHand, #minuteHand, #secondHand{
/*#clockface > div {*/
    background-color: white;
    transition: all 0.2s;

    position: absolute;
    transform-origin: 50% 96%;
}

#hourHand{
    width: 10px;
    height: 70px;
    
    top: 55px;
    left: 117px;

    transform: rotate(0deg);
}

#minuteHand{
    width: 7px;
    height: 100px;
    
    top: 25px;
    left: 120px;
    transform: rotate(45deg);
    transition-timing-function: cubic-bezier(0.02, 2.59, 0.58, 1);
}

#secondHand{
    width: 2px;
    height: 90px;

    top: 35px;
    left: 125px;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.02, 2.59, 0.58, 1);
}

.testLines{
    background-color: black;
    width: 175%;
    height: 5px;

    position: relative;
    transform-origin: 0% 50%;
    transition-timing-function: cubic-bezier(0.02, 2.59, 0.58, 1);
}
